<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoise</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>model</key>
		<string>Murcielago</string>
		<key>lastStarted</key>
		<date>2022-01-11T13:58:49Z</date>
		<key>imageName</key>
		<string>lamborgini.jpeg</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>6</integer>
		<key>myChoise</key>
		<true/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>62</integer>
			<key>blue</key>
			<integer>16</integer>
			<key>red</key>
			<integer>245</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>LaFerrari</string>
		<key>lastStarted</key>
		<date>2022-01-11T13:58:49Z</date>
		<key>imageName</key>
		<string>ferrari.jpeg</string>
		<key>timesDriven</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>3</integer>
		<key>myChoise</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>255</integer>
			<key>blue</key>
			<integer>255</integer>
			<key>red</key>
			<integer>255</integer>
		</dict>
		<key>mark</key>
		<string>Mersedes</string>
		<key>model</key>
		<string>AMG</string>
		<key>lastStarted</key>
		<date>2022-01-11T13:58:49Z</date>
		<key>imageName</key>
		<string>mersedes.jpeg</string>
		<key>timesDriven</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>2</integer>
		<key>myChoise</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>67</integer>
			<key>blue</key>
			<integer>239</integer>
			<key>red</key>
			<integer>48</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>GTR</string>
		<key>lastStarted</key>
		<date>2022-01-11T13:58:49Z</date>
		<key>imageName</key>
		<string>nissan.jpeg</string>
		<key>timesDriven</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>4</integer>
		<key>myChoise</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X5</string>
		<key>lastStarted</key>
		<date>2022-01-11T13:58:49Z</date>
		<key>imageName</key>
		<string>BMW.jpeg</string>
		<key>timesDriven</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
